body {
 background: rgb(212,255,255);
 background: radial-gradient(circle, rgba(212,255,255,1) 0%, rgba(192,236,255,1) 50%, rgba(148,187,233,1) 100%);
 font-family: Mrray text;
 font-size: 150%
}

h1{
font-size: 250%;
color: #273746;
text-align: center;
}

h2{
font-size:150%;
color:#7B241C;
padding-left: 15px;
}

p{
color: #1B2631;
}
