body {
 background: rgb(39,0,87);
 background: linear-gradient(90deg, rgba(39,0,87,1) 0%, rgba(80,80,200,1) 35%, rgba(107,217,255,1) 100%);
 font-family: MUrray text;
 font-size: 150%
}

h1{
font-size: 250%;
color: #adbcc9;
text-align: center;
}

h2{
font-size:150%;
color:#7B241C;
padding-left: 15px;
}

p{
color: #1B2631;
}
